.wrap {
    background: #eee;
    max-width: 90%;
    padding: 1rem;
    margin: 2rem auto;
    h1 {
        font-family: lobster;
        margin-top: 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: flex;
        padding: 1rem;
        img {
            width: 30%;
            height: 100%;
            padding: 0.5rem;
            border: 1px solid #ddd;
            margin-right: 1rem;
        }
        a {
            color: #7e360d;
            text-decoration: none;
        }
    }
    .recipe-thumbs {
        display: flex;
        li {
            padding: 0;
        }
        img {
            width: 100%;
            padding: 0;
            border: none;
        }
    }
}